# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === THINGSBOARD ===

THINGSBOARD_SERVER=localhost
GATEWAY_Access_TOKEN=__token__


# === General ===

READINGS_DELAY_IN_SECONDS=60



